# Will ignore everything but the files we care about
#/*
#/*/
#!.gitignore
#!*.md
#!sim-bpred.c
#!sim-outorder.c
#!bpred.c
#!bpred.h
#!weight_register.c
#!weight_register.h
#!shift_register.c
#!shift_register.h
#!perceptron.c
#!perceptron.h
#!history_buffer.c
#!history_buffer.h
#!Makefile
